@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Lato:wght@400;900&display=swap');

$primary_font: 'Lato', sans-serif;
$secondary_font:'Gulzar', serif;

$base_font_size: 16px;
$h1_size: 5rem;
$h2_size: 3rem;
$h3_size: 1.5rem;

$big_screen: 1400px;
$small_screen: 1000px;

@function light_gray($a : 1){
    @return rgba(230,230,230,$a)
}

@function primary($a : 1){
    @return rgba(252, 200, 15,$a)
}
@function blue($a : 1){
    @return rgba(44, 154, 210,$a)
}
@function light_blue($a : 1){
    @return rgba(109, 138, 150,$a)
}

