@import "./overrides.scss";
@import "./components/includes.scss";

.hero{
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    h1{
        font-size: $h1_size * 1.2;
        line-height: 3rem;
    }
  
}