@import "./overrides.scss";
@import "./components/includes.scss";

.hero{
    background: url("../images/hero.jpg") no-repeat;
    background-size: cover;
    background-position: 70% 10%;
    width: 100vw;
    height: calc(100vh - 100px);
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        width: 100%;
        height: 100%;
        max-width: 1500px;
        margin: 0 auto;
        padding: 10px;
        h1{
            cursor: pointer;
            text-align: center;
            color: secondary(1);
            text-align: left;
        }
        p{
            color: light_gray(1);
            max-width: 550px;
        }
        button{
            margin: 30px 0px;
        }
    }
}


.absolute-popup{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    color: white;
    height: 100vh;
    width: 100vw;
}
.popup-overlay{
    background-color: rgba($color: #000000, $alpha: 0.4);
}