@import "./base.scss";
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
p,span,small{
    font-family:  $primary_font;
}
h1,h2,h3,h4,h5,h6{
    font-family: $secondary_font;
}
h1{
    font-size: $h1_size;
}
h2{
    font-size: $h2_size;
}
h3{
    font-size: $h3_size;

}
body{
    font-family: $primary_font;
    font-size: $base_font_size;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}
input,button{
    padding: 5px 15px;
    outline: none;
    border: none;
}
button{
    cursor: pointer;
    border: 1px solid black;
    min-width: 100px;
    font-family: $secondary_font;
    font-size: $base_font_size * 1.2;
    background-color: white;
    transition: all 200ms ease-in-out;
    margin: 10px 0px;
}
button:hover {
    margin: 12px 0px;
    background-color: black;
    color:white;
}
a{
    text-decoration: none;
    color: gray;
    font-style: italic;
    z-index: 1;
    transition: all 100ms ease;
}
a:hover{
    transform: translateX(10px);
    color: black;
}

@media screen and (max-width: 700px) {
    body{
        font-size: calc($base_font_size - 4px);
    }
    h1{
        font-size: $h1_size / 1.2;
    }
    h2{
        font-size: $h2_size / 1.2;
    }
    h3{
        font-size: $h3_size/ 1.2;
    }
}