.ingredients-details {
    small{
        font-size: 1.3rem;
        text-transform: capitalize;
    }
    .options-list-header,.products-list-header{
        display: flex;
        align-items: center;
        
        button{
            margin: 10px;
            color: Bright(1);
        }
        button:hover{
            color: Black(1);
        }
    }
    .options-types{
        display: grid;
        grid-template-columns: 1fr 1fr;
        input{
            font-size: $h3size;
        }
        img{
            height: 30px;
            object-fit: cover;
            transform: translateY(30%);
        }
        img.remove-img,img.add-img{
            cursor: pointer;
            margin: 0px 10px;
            transition: all 100ms ease;
        }
        img.remove-img:hover,img.add-img:hover{
            transform: scale(1.2) translateY(30%);
        }
        .check-item,.select-item .select-header,.choice-item{
            padding-left: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: flex-end;
        }
        .choices{
            display: flex;
            flex-direction: column;
            padding-left: 60px;
        }
    }
}
