.secondary-table{

    .secondary-input{
        font-size: $h3size !important;
        margin: 0px !important;
        font-family: $base_font !important;
        background-color: transparent !important;
    }

    table{
        width: 100%;
        border-spacing: 0 0;
        //table-layout: fixed ;
        padding: 15px;
        thead{
            position: sticky;
            top: 0px;
            z-index: 99;
            width: 100%;
            background-color: LightGray(1);
            tr{

                width: 100%;
                th{
                  //  width: 100%;

                    text-align: start;
                    padding: 15px;
                    font-family: $base_font;
                    font-size: $h3size*1.2;
                }
                .header-tag{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: center;
                    img{
                        width: 20px;
                        margin: 5px 10px;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
            }

        }
        tbody{
            width: 100%;
            align-items: center;
            tr{
                width: 100%;
                td{
                    text-align: start;
                    padding: 15px;
                    text-transform: capitalize;
                    //width: 100%;
                    min-width: fit-content;
                    button{
                        margin: 5px 5px;
                        width: 100%;
                        border: none;
                        background-color: Secondary(0.4);
                        font-family: $base_font;
                        font-size: $h3size / 1.1 ;
                    }
                    button:last-child{
                        background-color: Error(1);
                    }
                    button:last-child:hover{
                        background-color: Error(1);
                        transform: translateX(10px);
                    }
                    button:hover{
                        background-color: Green(1);
                    }
                }
            }
            tr.review-row{
                cursor: pointer;
                transition: all 100ms ease-in;
            }
            tr.review-row:hover{
                background-color: Secondary(0.8);
            }
            tr:nth-child(even){
                background-color: Secondary(0.05);
            }
        }
    }
}