.secondary-form{

    h1{
        margin: 15px;
    }
    .split-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    form{
        background-color: Bright(1);
        padding: 15px;

        label{
            font-family: $base_font;
        }
        .input-item{
            display: flex;
            justify-content: flex-start;
            align-items: center ;
            align-content: center;
            margin: 5px 0px;
            label{
                font-size: $h2size;
                color: Secondary(1);
                margin: 5px;
                text-transform: capitalize;
            }
            button{
                color: Bright(1);
                margin: 5px;
            }
            
        }
        .input-item.tickets{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            h1{
                color: Secondary(1);
            }
            .ticket-item{
                cursor: pointer;
                margin: 5px;
                background-color: Secondary(0.1);
                border: 1px solid Secondary(0.6);
                border-radius: 15px;
                padding: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                p{

                }
                img{
                    width: 30px;
                    margin: 5px;
                    object-fit: cover;
                    cursor: pointer;
                    display: inline;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }
        }
        .input-item.multiple{
            align-items: flex-start;
            img{
                width: 30px;
                margin: 5px;
                object-fit: cover;
                cursor: pointer;
            }
            img:hover{
                transform: scale(1.1);
            }
            h2{
                padding-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                min-width: max-content;
            }
            .items{
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                > div{  
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: center;
                }
            }
        }

        .Dropdown-root{
            
            margin: 15px 10px;
            border: none;

            .Dropdown-control{
                background-color: Secondary(0.025);
                font-size: $h3size;
                border-bottom: 1px solid Secondary(1);
                transition: all 100ms ease  ;
            }
            .Dropdown-control:hover{
                border-bottom: 1px solid Secondary(0.3);

            }
        }
        .secondary-img{
            width: 100%;
            height: 900px;
            object-fit: cover;
            border: 1px solid Secondary(1);
            cursor: pointer;
        }
        .secondary-input,textarea{
            font-size: $h2size ;
            background-color: transparent;
            border: none;
            margin: 15px 5px; 
            padding-bottom: 5px;
            height: 50px;
            border-radius: 0%;
            border-bottom: 1px solid Secondary(1);
            background-color: Secondary(0.025);

        }
        .secondary-input:hover,.secondary-input:focus,.secondary-input:active,textarea:hover,textarea:focus,textarea:active{
            border: none;
            box-shadow: none;
            background-color: transparent;
            border-bottom: 1px solid Secondary(0.3);

            /*            text-decoration: underline;
            text-underline-offset:6px;
            text-decoration-color: rgba(0,0,0,0.2);
            text-decoration-thickness: 1px;*/
        }
        textarea:hover,textarea:focus,textarea:active{
            border: 1px solid Secondary(0.3)
        }   
        textarea{
            height: 250px;
            width: 100%;
            border: 1px solid Secondary(1) ;
            resize: vertical;
        }
        input[type=file],input[type=checkbox]{
            display: none;
        }
        img.small{
            width: 35px;
            object-fit: cover;
            margin: 5px 15px;
        }
        .secondary-input[type=number]{
            width: 150px;
        }
        

        .validate{
            display: flex;
            width: 100%;
            button{
                min-width: 150px;
                margin: 20px 5px;
                color: Bright(1);
            }
            justify-content: flex-end;
        }
    }
}