.universal-table{
    background-color: Bright(1);
    padding: 15px;
    width: 100%;

    .table-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 15px;
        h1:first-child{
            margin-right: 30px;
        }
        .table-options{
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            align-content: flex-start;
            flex-wrap: wrap;
            > *{
                margin: 5px 5px ;
            }
            img{
                display: none;
                cursor: pointer;
            }
            button{
                width: 50px;
                padding: 10px;
                img{
                    display: inline-block;
                    width: 25px;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
            .selected-box{
                display: block;
                width: 40px;
                margin: 5px 0px;
                height: 100%;
                object-fit: contain;    
            }

            .option-item{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-content: flex-start;
                min-height: 100%;
                label{
                    margin: 5px 0px;
                }
                input{
                    height: 100%;
                    max-width: 300px;
                    font-size: $h3size;
                }
                input[type=number]{
                    max-width: 100px;
                }
            }
        }
    }
    table{
        padding: 15px;
        width: 100%;
        border-spacing: 0 10px;
        table-layout: fixed ;

        thead{
            text-align: left;
            tr{
                z-index: 5;
                .header-tag{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: center;
                    img{
                        width: 20px;
                        margin: 5px 10px;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }

                th{
                    font-weight: 400;
                    font-family: $secondary_font;
                    font-size: $h2size;
                    th{
                        padding: 15px;
                    }
                }
            }

        }

        $table_transparency : 0.1;
        $table_hover_transparency : 1;

        tbody{
            tr{
                font-weight: 200;
                margin: 5px 0px;
                font-family: $base_font;
                background-color: Secondary($table_transparency);   
                border-radius: 10px ;
                cursor: pointer;
                transition: all 100ms ease-in;
                width: 100%;
            }
            tr.suborder_status.completed{
                font-weight: bold;

                background-color: Green($table_transparency);   
            }
            tr.waiting{
                font-weight: bold;
                background-color: Secondary($table_transparency);   
            }
            tr.pending{
                background-color: Warning($table_transparency);   
            }
            tr.canceled{
                background-color: Error($table_transparency);   
            }
            tr.accomplished{
                background-color: Green($table_transparency);   
            }

            tr:hover{
                box-shadow: 0px 0px 10px 4px Secondary(0.2);
                background: Secondary(0.7);
            }

            tr.waiting:hover{
                background-color: Secondary($table_hover_transparency);   
            }
            tr.pending:hover{
                background-color: Warning($table_hover_transparency);   
            }
            tr.canceled:hover{
                background-color: Error($table_hover_transparency);   
            }
            tr.accomplished:hover{
                background-color: Green($table_hover_transparency);   
            }

            td{
                padding: 15px;
            }

            td:first-child,
            th:first-child {
            border-radius: 10px 0 0 10px;
            }

            td:last-child,
            th:last-child {
            border-radius: 0 10px 10px 0;
            }
        }
    }
}