
.food-details-container{
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px 50px;

    .food-details{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 650px;
        .food-img{
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        .food-info{
            background-color: blue(1);
            width: 100%;
            height: 100%;
            padding: 30px;
            h2{
                line-height: 3rem; 
                margin: 20px 0px;
            }
            a{
                color: primary(1);
                display: block;
                margin-bottom: 50px ;
                font-size: $h3_size;
            }
            .category{
                font-size: $h3_size;
            }
            .description{
                padding: 10px 0px;
            }
            .price{
                font-size: $h3_size;
                font-weight: bold;
            }
            p{
                max-width: 500px;
            }
            p:last-child{
                margin: 15px 0px;
            }
            .food-custom{
                margin: 40px 0px;
                form{
                    .selected{
                        color: primary(1);
                    }
                    font-size: $h3_size;
                    button{
                        min-width: 150px;
                    }
                    label{
                        margin: 10px;

                    }
                    .form-input-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        .form-input{
                            margin: 10px;

  
                            input{
                                display: none;

                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: $small_screen) {
    .food-details-container{
        padding: 0px;
        background-color: blue(1);
        .food-details{

            grid-template-columns: 1fr;
            .food-img{
                height: 500px;
            }
            .food-info{
                padding: 10px;
                a{
                    margin: 10px 0px 30px 0px;
                }
            }
        }
    }
}